.ghe {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(123, 122, 122);
  color: #fff;
  margin: 5px;
}
.gheDaDat {
  background-color: rgb(232, 203, 76) !important;
  cursor: no-drop;
}
.gheDangDat {
  background-color: rgb(18, 176, 18) !important;
}
.gheVip {
  background-color: rgb(228, 74, 8);
}

.gheMinhDat {
  background-color: rgb(0, 153, 255) !important;
  color: yellow !important;
  -webkit-box-shadow: 0px 0px 10px 0px #000000;
  box-shadow: 0px 0px 10px 0px #000000;
}
