.banner{
    background-color: #000;
    margin-top: 30px;
    padding-bottom: 70px;
    img{
        width: 1600px;
        height: 700px;
        display: flex;
        margin: auto;
        border-radius: 20px;

        position: relative;
    }
    &-text{
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        
        h1{
            color: #fff;
            margin-bottom: 0;
        }

        button{
            border: none;
            width: 160px;
            height: 40px;
            border-radius: 30px;
            margin-top: 30px;
            color: #de3f76;
            font-weight: bold;
        }

    }
}