.hometool{
    width: 850px;
    height: 70px;
    background-color: #fff;
    color: #000;
    border-radius: 40px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
    

    &-left{
        input {
            border: none;
            outline: none;
        }

    }
    &-mid{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

   
    &-text{
        display: block;
        font-weight: bold;
    }
    &-line{
        border-right: 1px solid #000;
        padding-right: auto;
        &:last-child{
            border-right: none;
        }
    }
}